// Loader Spinner
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 100;

  display: flex;
  align-items: center;

  background: rgba(0, 0, 0, .2);

  .mat-spinner {
    margin: 0 auto;
  }
}
