<div class="home text-center">
  <h1>{{ "HOME.WELCOME" | translate }}</h1>
  <h2>{{ "HOME.BY" | translate }}<strong>Mario Antonio Polo Daza</strong></h2>
  <h5><span class="fab fa-github"></span><a class="ml-5" href="https://github.com/mariopolo2805">@mariopolo2805</a></h5>
  <h5><span class="fab fa-linkedin"></span><a class="ml-5" href="https://www.linkedin.com/in/marioantoniopolodaza/">marioantoniopolodaza</a></h5>
  <img class="home__img mt-10" src="assets/images/home.png" alt="Cripto home image">
</div>
